global
    maxconn 1000

defaults
    mode tcp
    timeout client 30m
    timeout server 30m
    timeout connect 5s

frontend pg_write_front
    # 💡 原生的 * 绑定已经完美支持双栈
    bind *:5000
    default_backend pg_write_back

backend pg_write_back
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    # 💡 install.sh 会自动将 IPv6 地址转换为 [IPv6]:5432 的安全格式
    server node1 <NODE1_IP>:5432 maxconn 100 check port 8008
    server node2 <NODE2_IP>:5432 maxconn 100 check port 8008
    server node3 <NODE3_IP>:5432 maxconn 100 check port 8008

frontend pg_read_front
    bind *:5001
    default_backend pg_read_back

backend pg_read_back
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 <NODE1_IP>:5432 maxconn 100 check port 8008
    server node2 <NODE2_IP>:5432 maxconn 100 check port 8008
    server node3 <NODE3_IP>:5432 maxconn 100 check port 8008

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s